.page-first img{
	width: 17rem;
}
#background{
	width: 200%;
	height: 1400%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background: #515151;
	transform: translateX( -25.2% );
}
.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#text{
	position: absolute;
	bottom: 15.7%;
	left: 33%;
}
